@model ShivaEnterpriseWebApp.Model.Account

@{
    ViewData["Title"] = "AddorEdit";
    SelectList accountGroupDropdownList = ViewBag.accountGroupSelectList;
    SelectList accountTypeDropdownList = ViewBag.accountTypeList;
    SelectList accountCategoryDropdownList = ViewBag.accountCategoryList;
}
<link href="~/css/company.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>@(Model != null && Model.AccountId != Guid.Empty ? "Edit Account" : "Add Account")</h2>
    <div class="card-body company_from">
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="AccountCode" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="AccountCode" class="form-control" />
                </div>
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AccontName" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="AccontName" class="form-control" />
                </div>
                <span asp-validation-for="AccontName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AccountDescription" class="control-label"></label>
                <div class="col-md-9">
                    <input asp-for="AccountDescription" class="form-control" />
                </div>
                <span asp-validation-for="AccountDescription" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AccountGroup" class="control-label"></label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AccountGroupId, accountGroupDropdownList, "Select an option", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AccountType" class="control-label"></label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AccountTypeId, accountTypeDropdownList, "Select an option", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AccountCategory" class="control-label"></label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AccountCategoryId, accountCategoryDropdownList, "Select an option", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IsActive" class="control-label"></label>
                <div class="col-md-9">
                    @* @Html.CheckBoxFor(model => model.IsActive) *@
                    <input asp-for="IsActive" class="form-control" />
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            @* <input asp-for="CreatedDateTime" class="form-control" type="hidden" />*@
            <input asp-for="CreatedDateTime" class="form-control" type="hidden" />
            <input asp-for="CreatedBy" class="form-control" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @* <input type="button" value="Back to List" class="btn btn-info" asp-action="Index" asp-controller="Company"> *@
                <button type="button" class="btn btn-info"> <a asp-action="Index">Back to List</a></button>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

