@model ShivaEnterpriseWebApp.Model.Product
@{
    ViewData["Title"] = "Details";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Product Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductImage)
                </dt>
                <dd class="col-sm-8">
                    <img width="80" height="80" id="prodimg" />
                    @Html.Hidden("ProductImage",Model.ImageFile)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductCategory.ProductCategoryName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductCategory.ProductCategoryName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductGroup.ProductGroupName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductGroup.ProductGroupName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductType.ProductTypeName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductType.ProductTypeName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalclose" onclick="modalclose()">Close</button>
        <input type="button" class="btn btn-primary" value="Edit" onclick="window.location.href='Product/AddorEditProduct?productId=@Model.ProductId'" />
        @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    </div>
</div>
@section script {
   
    <script src="~/js/Product.js"></script>
}
