@using Newtonsoft.Json
@using ShivaEnterpriseWebApp.Model
@model List<ShivaEnterpriseWebApp.Model.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="modal fade" id="productModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="productDetailDiv">
            </div>
        </div>
    </div>

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product Detail</h4>
                    <div class="compnay_btn">
                        <input class="btn btn-success" type="button" value="Add Product" onclick="window.location.href='Product/AddOrEditProduct'" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="order-listing" class="table">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>product Name</th>
                                            <th>product Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td>@item.ProductCode</td>
                                                    <td>@item.ProductName</td>
                                                    <td>
                                                        <label class="badge badge-info">@(item.IsActive ? "Active" : "InActive")</label>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModalLong" onclick="loadProductPartial(@(JsonConvert.SerializeObject(item.ProductId)))">
                                                            view
                                                        </button>
                                                        <input class="btn btn-outline-danger" type="button" value="Delete" onclick="onDeleteProduct(@(JsonConvert.SerializeObject(item)))" />

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>


</body>

</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/Product.js"></script>
