@using Newtonsoft.Json
@using ShivaEnterpriseWebApp.Model;
@model List<ShivaEnterpriseWebApp.Model.City>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="modal fade" id="cityModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="cityDetailDiv">
            </div>
        </div>
    </div>

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">City</h4>
                    <div class="compnay_btn">
                        <input class="btn btn-success" type="button" value="Add City" onclick="window.location.href='City/AddOrEditCity'" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="order-listing" class="table">
                                    <thead>
                                        <tr>
                                            <th>City Code</th>
                                            <th>City Name</th>
                                            <th>City Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td>@item.City_Code</td>
                                                    <td>@item.City_Name</td>
                                                    <td>
                                                        <label class="badge badge-info">@(item.IsActive ? "Active" : "InActive")</label>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cityModalLong" onclick="loadCityPartial(@(JsonConvert.SerializeObject(item.cityId)))">
                                                            view
                                                        </button>
                                                        <input class="btn btn-outline-danger" type="button" value="Delete" onclick="onDeleteCity(@(JsonConvert.SerializeObject(item)))" />

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>


</body>

</html>

<script src="~/js/City.js"></script>