@model ShivaEnterpriseWebApp.Model.ModeofPayment
@{
    ViewData["Title"] = "Details";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modeofpayment Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MODCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MODCode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MODName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MODName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MODDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MODDescription)
                </dd>
                @* <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Company.Company_Name)
                </dt>
                <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Company.Company_Name)
                </dd>*@
                
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MODType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MODType)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MODAccount)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MODAccount)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalclose" onclick="modalclose()">Close</button>
        <input type="button" class="btn btn-primary" value="Edit" onclick="window.location.href='ModeofPayment/AddOrEditModeofpayment?id=@Model.MODId'" />
        @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    </div>
</div>
@section script {
    <script src="~/js/ModeofPayment.js"></script>
}
