@model ShivaEnterpriseWebApp.Model.Branch

@{
    ViewData["Title"] = "AddorEdit";
    SelectList yourDropdownList = ViewBag.SelectList;
}
<link href="~/css/company.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>@(Model != null && Model.Branch_Id != Guid.Empty ? "Edit Branch" : "Add Branch")</h2>
    <div class="card-body company_from">
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Branch_Code" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Branch_Code" class="form-control" />
                </div>
                <span asp-validation-for="Branch_Code" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Branch_Name" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Branch_Name" class="form-control" />
                </div>
                <span asp-validation-for="Branch_Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Company" class="control-label"></label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Company_Id, yourDropdownList, "Select an option", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IsActive" class="control-label"></label>
                <div class="col-md-6">
                    @* @Html.CheckBoxFor(model => model.IsActive) *@
                    <input asp-for="IsActive" class="form-control" />
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <input asp-for="CreatedDateTime" class="form-control" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @* <input type="button" value="Back to List" class="btn btn-info" asp-action="Index" asp-controller="Company"> *@
                <button type="button" class="btn btn-info"> <a asp-action="Index">Back to List</a></button>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
