@model ShivaEnterpriseWebApp.Model.AccountType
@{
    ViewData["Title"] = "Details";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">@Model.AccountTypeName</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AccountTypeCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AccountTypeCode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AccountTypeName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AccountTypeName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AccountTypeDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AccountTypeDescription)
                </dd>
                @* <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Company.Company_Name)
                </dt>
                <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Company.Company_Name)
                </dd>*@
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AccountTypeStatus)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AccountTypeStatus)
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalclose" onclick="modalclose()">Close</button>
        <input type="button" class="btn btn-primary" value="Edit" onclick="window.location.href='AccountType/AddorEditAccountType?id=@Model.AccountTypeId'" />
        @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    </div>
</div>
@section script {
    <script src="~/js/AccountType.js"></script>
}
