@model ShivaEnterpriseWebApp.Model.State
@{
    ViewData["Title"] = "Details";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">State Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.State_Code)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.State_Code)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.State_Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.State_Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.country.Country_Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.country.Country_Name)
                </dd>
                @*        <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsActive) *@
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalclose" onclick="modalclose()">Close</button>
        <input type="button" class="btn btn-primary" value="Edit" onclick="window.location.href='State/AddorEditState?stateId=@Model.State_Id'" />
        @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    </div>
</div>
@section script {
    <script src="~/js/State.js"></script>
}